<div id="wrapper">
    <div id="banner-wrapper">
        <header>
            <div id="header-inner">
                <a href="/" id="logo">
                    <img src="../img/logo/Logo APS.png">
                </a>

                <nav>
                    <ul>
                        <li class="pal">
                            <a href="/">
                            Inici
                            </a>
                        </li>
                        <li class="pal">
                            <a href="/reciclatge">
                            Reciclatge
                            </a>
                        </li>
                        <li class="pal">
                            <a href="/historia" class="current">
                            Història
                            </a>
                        </li>
                        <li class="pal">
                            <a href="/contacte">
                            Contacte
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="slide-wrap">
            <section class="slider">
                <ul class="slider1">
                    <li><img src="/img/img/inici2.jpg" id="imagenes"></li>
                    <li><img src="/img/img/hist2.jpg" id="imagenes"></li>
                </ul>
            </section>
        </div>
        <div>
            <h1 id="tit">Que son els pobles Ibers?</h1>
            <li id="text1">
                Els <b>pobles Ibers</b>, eren els habitants preromans de l’est i al sud de la península Ibèrica des del <b>segle VII aC</b>. Gràcies als contactes que van mantenir amb els fenicis i els grecs, coneixien <b>la seva escriptura</b>.
            </li>
            <br>
            <div class="info2">
                <h1 id="tit-2">On vivien els Ibers?</h1>
                <li id="text2">
                    Els ibers vivien en poblats emmurallats construïts en zones elevades com els turons. S’organitzaven en tribus governades per un reietó. Els grups més poderosos eren els nobles, els sacerdots i els guerrers.
                </li>
            </div>
            <br>
            <div class="info3">
                <h1 id="tit-3">En que es basava la economia dels Ibers?</h1>
                <li id="text3">
                    L’economia es basava en l’agricultura de cereals, vinya i olivera, i en la ramaderia. També destacava la mineria d’or, plata, coure i ferro. A més, l’artesania era de qualitat, sobretot la forja d’espases, la ceràmica i els teixits de llana i lli. La qualitat dels seus productes va afavorir que el comerç progressés. Els ibers van arribar a encunyar monedes pròpies.
                </li>
            </div>
        </div>
    </div>
</div>
<div class="clearfix-padding"></div>

<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body {
        background: #ecf0f1;
        font-family: sans-serif;
        margin: 0 auto;
    }

    #imagenes {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        width: auto;
        margin-bottom: -4px;
        padding-right: 70px;
    }

    #text1, #text2, #text3 {
        text-align: justify;
        font-size: 150%;
    }

    #tit, #tit-2, #tit-3 {
        padding: 10px 0 10px 0;
    }

    
    p {
    color: #524c56;
    font-size: 160%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
    }

    h3 {
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    color: #524c56;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    }

    a {
    color: #524c56;
    text-decoration: none;
    font-weight: bold;
    }
    a:hover {
    color: #c3d7df;
    }

    #wrapper {
    max-width: 1200px;
    margin: 0 auto;
    }

    #banner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
    }

    header {
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    }

    header #logo img{
    margin: 20px;
    float: left;
    width: 50px;
    }

    nav {
    float: right;
    padding: 25px 20px 0px 0px;
    }

    #menu-icon {
    display: none;
    font-size: 50px;
    }

    ul {
    list-style: none;
    }

    nav ul li {
    font-size: 150%;
    display: inline-block;
    padding: 10px;
    }

    nav ul li a {
    color: #6991AC;
    }

    .current {
        color: #3F5767;
    }

    a:hover {
        color: #a5bdcd;
    }

    .one-third {
        width: 31.5%;
        float: left;
        padding: 10px;
        text-align: center;
    }

    .icon-wrap {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        background-color: #6991ac;
        border-radius: 125px;
        text-align: center;
        margin-top: 3%;
    }

    .icon-wrap i {
        text-align: center;
        color: #ffffff;
        font-size: 450%;
        padding: 20%;
    }

    .left-col {
        float: left;
        margin: 0 auto;
        width: 60%;
        height: auto;
        padding: 1%;
    }

    .sidebar {
        float: right;
        margin: 0 auto;
        width: 32%;
        height: auto;
        padding: 1%;
    }

    .one-third-padding {
        width: 29%;
        float: left;
        margin: 2% 2%;
    }

    .clearfix-padding {
        clear: both;
        padding: 2%;
    }

    footer {
        background: #2c3e50;
        width: 100%;
        overflow: auto;
    }
    .icon-text {
        width: 100%;
        margin: 0 auto;
    }

    .icon-text-icon {
        float: left;
        width: 20%;
        padding: 4%;
    }

    .icon-text-text {
        float: left;
        width: 60%;
        padding: 4% 4% 2% 0;
    }

    .footer-nav {
        text-align: right;
    }

    .footer-nav a {
        font-size: 160%;
        color: #c3d7df;
        font-weight: 300;
    }

    .footer-nav a:hover {
        color: #f5f5f5;
    }

    .social {
        list-style-type: none;
        text-align: center;
    }

    .social li {
        display: inline;
    }

    .social i {
        font-size: 420%;
        margin: 1%;
        padding: 5%;
        color: #c3d7df;
    }

    .social i:hover {
        color: #f5f5f5;
    }

    footer.second {
        border-top: 1px solid #aadcd2;
        text-align: center;
        margin: 0;
    }

    footer.second p, .second a {
        text-align: center;
        color: #fff;
        font-size: 160%;
        line-height: 155%;
    }

    @media screen and (max-width: 768px) {
        p {
        font-size: 130%;
        }
        h3 {
        font-size: 150%;
        }
        header {
        height: 80px;
        position: relative;
        }
        header #logo {
        margin: 15px 0 20px -25px;
        }

        #menu-icon {
        display: inline-block;
        }


        .one-third {
        float: left;
        width: 100%;

        }
        .icon-wrap {
        height: 80px;
        width: 80px;
        margin-top: 3%;
        }

        .icon-wrap i {
        font-size: 250%;
        padding-top: 27%;
        }

        .left-col {
        width: 100%;
        padding: 0;
        }

        .sidebar {
        width: 100%;
        }

        .one-third-padding {
        width: 98%;
        margin: 0;
        padding: 1%;
        }

        .icon-text-icon {
        width: 100%;
        padding: 0 0 2% 0;
        }

        .icon-text-text {
        width: 100%;
        padding: 2% 0 0 0;
        font-size: 80%;
        }

        .footer-nav {
        margin: 0 auto;
        text-align: center;
        padding: 5%;
        }

        .footer-nav li {
        padding: 1%;
        }

        #text1, #text2, #text3 {
            font-size: 110%;
        }

        #tit, #tit-2, #tit-3 {
            text-align: center;
        }

        .pal {
            padding-right: 5px;
            font-size: 110%;
        }

    }

</style>

<script>
    $(document).ready(function(){
        $('.slider1').bxSlider({
        mode: 'fade',
        });
        $('.slider2').bxSlider({
        mode: 'fade',
        });
        $('.slider3').bxSlider({
        mode: 'fade',
        });
    });
</script>