<div id="wrapper">
    <div id="banner-wrapper">
        <header>
            <div id="header-inner">
                <a href="/" id="logo">
                    <img src="../img/logo/Logo APS.png">
                </a>

                <nav>
                    <ul>
                    <li>
                        <a href="/">
                        Inici
                        </a>
                    </li>
                    <li>
                        <a href="/reciclatge">
                        Reciclatge
                        </a>
                    </li>
                    <li>
                        <a href="/la-suissa" class="current">
                        La Suïssa
                        </a>
                    </li>
                    <li>
                        <a href="/historia">
                        Història
                        </a>
                    </li>
                    <li>  
                        <a href="/contacte">
                            Contacte
                        </a>
                    </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="slide-wrap">
          <section class="slider">
            <ul class="slider1">
              <li><img src="/img/img/suis1.png" id="imagenes" class="im1"></li>
              <li><img src="/img/img/suis2.jpg" id="imagenes" class="im2"></li>
              <li><img src="/img/img/suis3.jpg" id="imagenes" class="im3"></li>
            </ul>
          </section>
        </div>
        <div>
          <h1 id="tit">Que es una deixelleria?</h1>
          <li id="text">
            Una deixalleria és una instal·lació i <b>un  lloc, d’intercanvi, reutilització i reciclatge</b>, on el ciutadà participa activament en la gestió de residus municipals i on pot rebre formació i informació sobre molts detalls d'aquesta gestió.
          </li>
          <br>
          <h1 id="tit-2">Com funcion la Deixalleria La Suïssa?</h1>
          <li id="text-2">
            Els Ajuntaments de <b>Premià de Dalt, Premià de Mar i Vilassar de Dalt</b> es van constituir com a Mancomunitat (associació de municipis) per a oferir als ciutadans dels tres municipis el servei <b>d'una deixalleria</b>. Els veïns/es disposen d’una targeta que els acredita com a usuaris/es de la <b>Deixalleria La Suïssa</b> i si l’utilitzen tenen beneficis fiscals (descomptes al rebut de la brossa). 
          <img src="../img/img/suis4.png" id="suis4">
          </li>
        </div>
    </div>
</div>
<div class="clearfix-padding"></div>

  <style>
    * {
      margin: 0;
      padding: 0;
      border: 0;
    }

    body {
      background: #ecf0f1;
      font-family: sans-serif;
      margin: 0 auto;
    }

    p {
      color: #524c56;
      font-size: 160%;
      line-height: 155%;
      padding: 3%;
      text-indent: 2%;
      text-align: justify;
    }

    h3 {
      font-size: 175%;
      line-height: 155%;
      font-weight: 500;
      color: #524c56;
      text-align: center;
      text-transform: uppercase;
      padding: 0;
    }

    a {
      color: #524c56;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover {
      color: #c3d7df;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      width: auto;
      margin-bottom: -4px;
    }

    #imagenes {
      padding-right: 70px;
    }

    .im1 {
      width: 100%;
    }

    .im3 {
      padding-top: 25px;
    }

    #text {
      font-size: 150%;
      text-align: justify;
    }

    #text-2 {
      font-size: 150%;
      text-align: justify;
      width: 100%;
    }

    #suis4 {
        display: none;
    }

    #wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }

    #banner-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 0 3% 0;
    }

    header {
      width: 100%;
      height: 100px;
      top: 0;
      left: 0;
    }

    header #logo img{
      margin: 20px;
      float: left;
      width: 50px;
    }

    nav {
      float: right;
      padding: 25px 20px 0px 0px;
    }

    #menu-icon {
      display: none;
      font-size: 50px;
    }

    ul {
      list-style: none;
    }

    nav ul li {
      font-size: 150%;
      display: inline-block;
      padding: 10px;
    }

    nav ul li a {
      width: auto;
      padding: 15px 5px 15px 5px;
      color: #6991AC;
    }

    .current {
      color: #3F5767;
    }

    a:hover {
      color: #a5bdcd;
    }

    .one-third {
      width: 31.5%;
      float: left;
      padding: 10px;
      text-align: center;
    }

    .icon-wrap {
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background-color: #6991ac;
      border-radius: 125px;
      text-align: center;
      margin-top: 3%;
    }

    .icon-wrap i {
      text-align: center;
      color: #ffffff;
      font-size: 450%;
      padding: 20%;
    }

    .left-col {
      float: left;
      margin: 0 auto;
      width: 60%;
      height: auto;
      padding: 1%;
    }

    .sidebar {
      float: right;
      margin: 0 auto;
      width: 32%;
      height: auto;
      padding: 1%;
    }

    .one-third-padding {
      width: 29%;
      float: left;
      margin: 2% 2%;
    }

    .clearfix-padding {
      clear: both;
      padding: 2%;
    }

    footer {
      background: #2c3e50;
      width: 100%;
      overflow: auto;
    }
    .icon-text {
      width: 100%;
      margin: 0 auto;
    }

    .icon-text-icon {
      float: left;
      width: 20%;
      padding: 4%;
    }

    .icon-text-text {
      float: left;
      width: 60%;
      padding: 4% 4% 2% 0;
    }

    .footer-nav {
      text-align: right;
    }

    .footer-nav a {
      font-size: 160%;
      color: #c3d7df;
      font-weight: 300;
    }

    .footer-nav a:hover {
      color: #f5f5f5;
    }

    .social {
      list-style-type: none;
      text-align: center;
    }

    .social li {
      display: inline;
    }

    .social i {
      font-size: 420%;
      margin: 1%;
      padding: 5%;
      color: #c3d7df;
    }

    .social i:hover {
      color: #f5f5f5;
    }

    footer.second {
      border-top: 1px solid #aadcd2;
      text-align: center;
      margin: 0;
    }

    footer.second p, .second a {
      text-align: center;
      color: #fff;
      font-size: 160%;
      line-height: 155%;
    }

    @media screen and (max-width: 768px) {
      p {
        font-size: 130%;
      }
      h3 {
        font-size: 150%;
      }
      header {
        height: 80px;
        position: relative;
      }
      header #logo {
        margin: 15px 0 20px -25px;
      }

      #menu-icon {
        display: inline-block;
      }

      nav:hover ul {
        display: block;
      }

      .one-third {
        float: left;
        width: 100%;

      }
      .icon-wrap {
        height: 80px;
        width: 80px;
        margin-top: 3%;
      }

      .icon-wrap i {
        font-size: 250%;
        padding-top: 27%;
      }

      .left-col {
        width: 100%;
        padding: 0;
      }

      .sidebar {
        width: 100%;
      }

      .one-third-padding {
        width: 98%;
        margin: 0;
        padding: 1%;
      }

      .icon-text-icon {
        width: 100%;
        padding: 0 0 2% 0;
      }

      .icon-text-text {
        width: 100%;
        padding: 2% 0 0 0;
        font-size: 80%;
      }

      .footer-nav {
        margin: 0 auto;
        text-align: center;
        padding: 5%;
      }

      .footer-nav li {
        padding: 1%;
      }

      #tit, #tit-2 {
        text-align: center;
        padding: 15px 0 15px 0;
      }

      #text, #text-2 {
        font-size: 110%;
        width: 100%;
      }

      #suis4 {
        display: block;
        position: absolute;
        top: auto;
        width: 90%;
        padding-left: 45px;
        padding-top: 20px;
        padding-top: 40px;
        border-radius: 10px;
      }

      nav ul li {
        padding: 15px 1px 15px 2px;
        font-size: 110%;
        text-align: left;
      }

      #logo {
        display: none;
      }

    }

</style>

<script>
  $(document).ready(function(){
      $('.slider1').bxSlider({
        mode: 'fade',
      });
      $('.slider2').bxSlider({
        mode: 'fade',
      });
    });
</script>